  
<p id="notice"><%= notice %></p>
<h1>Welcome  <%=@user.first_name%> !</h1>
<h2>You are logged in as <%= @user.username %></h2>

<div><h4>My Documents</h4>
<ul>
<% @user.documents.each do |doc|%>
<li> <%= link_to doc.data[0..10]+"...", doc%><li>
<%end%>
</ul>
</div>

<%= link_to 'Delete', user_path(@user), method: :delete %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
